<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Blog API</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Főoldal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/new">Új bejegyzés</a>
        </li>
      </ul>
      <div class="theme-switch-wrapper">
        <span class="me-2 text-light">
          <i class="bi bi-sun"></i>
        </span>
        <label class="theme-switch">
          <input type="checkbox" id="theme-switch">
          <span class="slider round"></span>
        </label>
        <span class="ms-2 text-light">
          <i class="bi bi-moon"></i>
        </span>
      </div>
    </div>
  </div>
</nav>
